@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body, html {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 8px 100px;
    background-color: rgba(0, 0, 0, .1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(5px);
    border-bottom: 2px solid #ffffff33;
    z-index: 1;
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(192, 246, 255, 0.753), transparent);
    transition: .8s;
}
.header:hover:before {
    left: 100%;
}
.logo {
    color: #fff;
    font-size: 25px;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
}
.navbar a {
    color: #fff;
    font-size: 18;
    text-decoration: none;
    margin-left: 35px;
    transition: .3s;
    
}
.navbar a:hover {
    color: #65c00a;
}
.top-layer {
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px;
    font-size: 16px;
}
.top-layer a,
.phone-number {
    margin-left: 15px;
    color: #fff;
    text-decoration: none;
}
.bottom-layer {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    border-top: 1px solid #ffffff33;
}
.bottom-layer a {
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}
.bottom-layer a.active {
    color: rgb(0, 0, 150); 
}
.dropdown {
    position: relative;   
}
.dropdown-menu {
    line-height: 38px;
    position: absolute;
    left: 0;
    top: calc(100% + 1.5rem);
    background-color: rgba(0, 0, 0, .4);
    backdrop-filter: blur(5px);
    padding: .5rem;
    border-radius: .25rem;
    box-shadow: 0 15px 15px 0 rgba(0, 0, 0, .3);
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}
.dropdown > .link:focus + .dropdown-menu {
    opacity: 1;
    transform: translateY(0);
}
.hero-image {
    background-image: url(/Personal_Projects/Websites/noreastentertainment/images/marcela-laskoski-YrtFlrLo2DQ-unsplash.jpg);
    height: 80.1rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex; /* Using flexbox */
    flex-direction: column; /* Stack children vertically */
    justify-content: center; /* Vertically center the content */
    align-items: center; /* Horizontally center the content */
}

.hero-image::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background: linear-gradient(to right, #65c00a7c, #65c00a, #65c00a7c);
}

.hero-text {
    position: absolute;
    text-align: center;
    font-size: 35px;
    color: rgb(255, 255, 255);
}
.hero-image button {
    margin-top: 40rem;
    background-color: #03b103;
    color: #444444;          
    padding: 15px 25px;       
    font-size: 25px;          
    border: none;             
    border-radius: 30px;      
    cursor: pointer;  
    box-shadow: 0px 10px 10px #498a08
    inset,
    0px -10px 10px #366606 inset;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease-in-out;
}
.hero-image button:hover {
    transform: scale(1.5);
    background-color: #6ccc0b; 
    box-shadow: 0px 10px 10px #498a08
    inset,
    0px -10px 10px #366606 inset;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 6px 6px 10px rgba(0, 0, 0, 1);
}
.about-section {
    height: 100%;
    background: #dddddd;
    color: #6b6b6b;
}
.about-section::after {
    content: '';
    position: absolute;
    bottom: 1;
    left: 0;
    width: 100%;
    height: 10px;
    background: linear-gradient(to right, #65c00a7c, #65c00a, #65c00a7c);
}
.about-section .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 75px;
    gap: 12%;
}
i {
    margin: 8rem 3rem;
    transition: .5s;
}
i:hover {
    transform: scale(1.5);
    color: #6ccc0b;
    text-shadow: 6px 6px 10px rgba(0, 0, 0, .5);
}
i::after {
    text-align: center;
    content: attr(data-tooltip);
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 10px;
    background-color: transparent;
    color: #6b6b6b;
    border-radius: 5px;
    font-size: 15px;
    font-family: "Teko", sans-serif;
    opacity: 0;
    transition: opacity 0.4s;
}
i:hover::after {
    opacity: 1;
}
.about-section .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-section .about h1 {
    color: #6b6b6b;
    padding-top: 175px;
    text-align: center;
    font-size: 65px;
}
span {
    color: #65c00a;
}
.about-section .about p {
    text-align: center;
    font-size: 30px;
    width: 70%;
    padding-bottom: 150px;
}
/* IMAGES */
.card_container {
    color: #dddddd;
    background-color: #5c5c5c;
    padding: 350px 0 350px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 350px;
}

.image-wrapper {

    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;

}

.image-wrapper:nth-child(even) {
    margin-left: -20%;
}
.image-wrapper:nth-child(odd) {
    margin-right: -20%;
}

.image-wrapper:nth-child(4) {
    flex-direction: row-reverse; /* Flip text and image in the last div */
}

.image-wrapper img {
    max-width: 40%;
    height: auto;
    display: block;
    border-radius: 10px;
    transform: skew(-15deg);
    box-shadow: -14px 16px 29px 0px #0000008f;
    margin: 0 auto;
}

.image-wrapper .text-content {
    flex: 1;
    padding: 20px 30px; /* Adjust padding as needed */
    text-align: left; /* Align text to the left */
}

.image-wrapper h1 {
    margin-bottom: 10px;
    text-align: center;
}

.image-wrapper p {
    text-align: center;
}
