@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body, html {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 8px 100px;
    background-color: rgba(0, 0, 0, .1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(5px);
    border-bottom: 2px solid #ffffff33;
    z-index: 1;
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(192, 246, 255, 0.753), transparent);
    transition: .8s;
}
.header:hover:before {
    left: 100%;
}
.logo {
    color: #fff;
    font-size: 25px;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
}
.navbar a {
    color: #fff;
    font-size: 18;
    text-decoration: none;
    margin-left: 35px;
    transition: .3s;
    
}
.navbar a:hover {
    color: #65c00a;
}
.top-layer {
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px;
    font-size: 16px;
}
.top-layer a,
.phone-number {
    margin-left: 15px;
    color: #fff;
    text-decoration: none;
}
.bottom-layer {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    border-top: 1px solid #ffffff33;
}
.bottom-layer a {
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}
.bottom-layer a.active {
    color: rgb(0, 0, 150); 
}
.dropdown {
    position: relative;   
}
.dropdown-menu {
    line-height: 38px;
    position: absolute;
    left: 0;
    top: calc(100% + 1.5rem);
    background-color: rgba(0, 0, 0, .4);
    backdrop-filter: blur(5px);
    padding: .5rem;
    border-radius: .25rem;
    box-shadow: 0 15px 15px 0 rgba(0, 0, 0, .3);
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}
.dropdown > .link:focus + .dropdown-menu {
    opacity: 1;
    transform: translateY(0);
}
.hero-image {
    background-image: url(/Personal_Projects/Websites/noreastentertainment/images/marcela-laskoski-YrtFlrLo2DQ-unsplash.jpg);
    height: 80.1rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex; /* Using flexbox */
    flex-direction: column; /* Stack children vertically */
    justify-content: center; /* Vertically center the content */
    align-items: center; /* Horizontally center the content */
}

.hero-image::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background: linear-gradient(to right, #65c00a7c, #65c00a, #65c00a7c);
}

.hero-text {
    position: absolute;
    text-align: center;
    font-size: 35px;
    color: rgb(255, 255, 255);
}
.hero-image button {
    margin-top: 40rem;
    background-color: #03b103;
    color: #444444;          
    padding: 15px 25px;       
    font-size: 25px;          
    border: none;             
    border-radius: 30px;      
    cursor: pointer;  
    box-shadow: 0px 10px 10px #498a08
    inset,
    0px -10px 10px #366606 inset;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease-in-out;
}
.hero-image button:hover {
    transform: scale(1.5);
    background-color: #6ccc0b; 
    box-shadow: 0px 10px 10px #498a08
    inset,
    0px -10px 10px #366606 inset;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 6px 6px 10px rgba(0, 0, 0, 1);
}
.about-section {
    height: 100%;
    background: #dddddd;
    color: #6b6b6b;
}
.about-section::after {
    content: '';
    position: absolute;
    bottom: 1;
    left: 0;
    width: 100%;
    height: 10px;
    background: linear-gradient(to right, #65c00a7c, #65c00a, #65c00a7c);
}
.about-section .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 75px;
    gap: 12%;
}
i {
    margin: 8rem 3rem;
    transition: .5s;
}
i:hover {
    transform: scale(1.5);
    color: #6ccc0b;
    text-shadow: 6px 6px 10px rgba(0, 0, 0, .5);
}
i::after {
    text-align: center;
    content: attr(data-tooltip);
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 10px;
    background-color: transparent;
    color: #6b6b6b;
    border-radius: 5px;
    font-size: 15px;
    font-family: "Teko", sans-serif;
    opacity: 0;
    transition: opacity 0.4s;
}
i:hover::after {
    opacity: 1;
}
.about-section .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-section .about h1 {
    color: #6b6b6b;
    padding-top: 175px;
    text-align: center;
    font-size: 65px;
}
span {
    color: #65c00a;
}
.about-section .about p {
    text-align: center;
    font-size: 30px;
    width: 70%;
    padding-bottom: 150px;
}
.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #6b6b6b;
    
}
.cards::after {
    content: '';
    position: relative;
    bottom: 1;
    left: 0;
    width: 100%;
    height: 10px;
    background: linear-gradient(to right, #65c00a7c, #65c00a, #65c00a7c);
}
.card1 button {
    margin-top: 2rem;
    background-color: #56a308;
    color: #444444;          
    padding: 15px 25px;       
    font-size: 25px;          
    border: none;             
    border-radius: 30px;      
    cursor: pointer;  
    box-shadow: 0px 10px 10px #498a08
    inset,
    0px -10px 10px #366606 inset;
    cursor: pointer;
}
.card1 button {
    margin-left: 17.3rem;

  }
.border {
    width: 75%;
    margin-top: 5%;
    margin-bottom: 5%;
    border: 3px solid #65c00a;
}
.card1, .card3 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 5%;
    margin-left: 10%; 
  }
  
  .card2, .card4 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 5%; 
    margin-right: 10%;
}
  
.card4 {
    padding-bottom: 5%; 
}
  
.card1 img, .card2 img, .card3 img, .card4 img {
    width: 500px;
    height: auto;
    border-radius: 10px;
}
.card1 h2, .card2 h2, .card3 h2, .card4 h2 {
    font-size: 35px;
    text-align: center;
    color: #65c00a;
} 
.card1 h2, .card3 h2 {
    margin-left: 50%;
} 
.card2 h2, .card4 h2 {
    margin-right: 35%;
} 
.card1 p, .card2 p, .card3 p, .card4 p {
    text-align: center;
    width: 500px;
    color: #dddddd;
    font-size: 20px;
}
.card1 p, .card3 p {
    margin-left: 25%;
}
.card2 p, .card4 p {
    margin-right: 300px;
}

















































  @media (max-width: 768px) { /* Adjust breakpoint as needed */
    .cards {
      flex-direction: column; /* Change to column for mobile */
    }
  
    .card1, .card2, .card3, .card4 { 
      flex-direction: column; /* Change card layout to column */
      align-items: center; 
      margin: 20px 0; /* Adjust margins as needed */
    }
  
    .card1 img, .card2 img, .card3 img, .card4 img {
      width: 100%; /* Make images responsive */
      max-width: 500px; /* Set a maximum width for larger screens */
    }
  
    .card1 h2, .card2 h2, .card3 h2, .card4 h2 {
      margin: 0; /* Remove horizontal margins */
    }
  
    .card1 p, .card2 p, .card3 p, .card4 p {
      width: auto; /* Remove width constraint */
      margin: 0; /* Remove horizontal margins */
    }
  }
  @media (max-width: 768px) { 
    .card1, .card3 {
      flex-direction: column-reverse; /* Reverse image and text order */
    }
  }

  
  







































/* ul {
    list-style-type: none;  
    padding: 0;             
    margin: 0;              
}

li {
    display: inline-block;  
}

.switch-tab {
    background: none;       
    border: none;           
    padding: 10px 20px;     
    cursor: pointer;       
    font-size: 16px;       
    color: #000;            
}

.section-three {
    display: flex;
    justify-content: center;
    align-items: center;
} */