@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body, html {
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
body, html {
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #6b6b6b;
    -ms-overflow-style: none;
    scrollbar-width: none;
    background: url("../img/djphoto.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}
@media(max-width: 1000px){
    .hideOnMobile{
        display: none;
    }
    .menu-button{
        display: block;
    }
    .bottom-layer {
        border-top: none;
    }
    .header {
        border-bottom: none;
        backdrop-filter: blur(0px);
        background-color: transparent;
        position: absolute;
    }
    .header::before {
        content: none;
        display: none;
    }
}
@media(max-width: 400px){
    .sidebar{
        width: 100%;
    }
    .logo {
        display: none;
    }
    .menu-button {
        margin-left: 250px;
    }
}