.contact-form {
    max-width: 800px;
    padding-top: 100px;
    padding-bottom: 100px;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, .1);
    backdrop-filter: blur(10px);
    border-radius: 8px;
}
.contact-section p {
    font-size: 1.5rem;
    color: #fff;
    font-weight: 500;
    text-align: center;
}
.contact-section .form {
    margin-top: 30px;
}
input::placeholder {
    color: #fff;
}
.form .input-box{
    width: 100%;
    margin-top: 20px;
}

.input-box label {
    color:#fff;
}
.form :where(.input-box input, .select-box) {
    position: relative;
    height: 50px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: #fff;
    margin-top: 8px;
    border: 1px solid #fff;
    border-radius: 6px;
    padding: 0 15px;
    background-color: transparent;
    backdrop-filter: blur(5px);
}

.form :where(.input-box input, .select-box):focus {
    border-color: #fff; 
    background-color: transparent; 
}
.form .column {
    display: flex;
    column-gap: 15px;
}
.form .gender-box {
    margin-top: 20px;
}
.gender-box h3 {
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 8px;
}
.form :where(.gender-option, .gender){
    display: flex;
    align-items: center;
    column-gap: 50px;
    flex-wrap: wrap;
    
}
.form .gender {
    column-gap: 5px;
    cursor: pointer;
}
.gender input {
    accent-color: #000000;

}
.form :where(.gender input, .gender label) {
    cursor: pointer;
}
.address :where(input, .select-box) {
    margin-top: 15px;
}
.select-box select{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    color: #707070;
    font-size: 1rem;
}
.form button {
    height: 55px;
    width: 100%;
    color: black;
    font-size: 1rem;
    border: none;
    margin-top: 30px;
    cursor: pointer;
    font-weight: 400;
    border-radius: 6px;
    background: #fff;
    transition: all .2s ease-in-out;
}
.form button:hover {
    background-color: #65c00a;
    color: #fff;
    outline: 1px solid #fff;
}
#phone {
    margin-top: 33px;
}
.services-box {
    display: flex;
    flex-direction: column;
    gap: 10px; 
}
.services-box label {
    margin-left: 5px; 
}
.services-box h3 {
    color: #333;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 8px;
}
.services-box label, .services-box h3 {
    color: #fff;   
}
#state {
    color: #fff; 
    background-color: transparent; 
}

#state option[hidden] {
    color: #fff; 
    background-color: transparent; 
}
select {
    background-color: transparent; 
    color: #fff; 
    border: 1px solid #fff; 
    border-radius: 6px; 
    padding: 10px;
    font-size: 1rem;
    width: 100%;
    outline: none;
}
select:focus {
    border-color: #888; 
    background-color: transparent; 
}
select option {
    background-color: #333; 
    color: #fff; 
}

select option:hover {
    background-color: #555; 
}
option {
    background-color: #333; 
    color: #fff; 
}
option:hover {
    background-color: #555; 
}
.messages h3 {
    padding-top: 20px;
    padding-bottom: 5px;
    color: #fff;
}
.messages textarea {
    color: #fff;
    width: 800px;
    height: 300px;
    background: transparent;
    padding: 10px; 
    text-align: left; 
    vertical-align: top; 
}
textarea::placeholder {
    color: #fff;
}
input[type="checkbox"] {
    accent-color: #65c00a; 
}