@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body, html {
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
body, html {
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #6b6b6b;
    -ms-overflow-style: none;
    scrollbar-width: none;
    background: url("../../public/img/djphoto.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}

.full-container {
    margin-bottom: 15%;
}
.full-container h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    color: #fff;
}
.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    color: #fff;
    width: 950px;
    height: 225px;
    border: 1px solid #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px #6b6b6b;
    backdrop-filter: blur(10px);
}
.input-email {
    display: flex;
    flex-direction: column; /* Stack elements initially */
    align-items: center; /* Center items horizontally */
}

.input-email input,
.input-email button {
    margin-bottom: 10px; /* Add space between elements */
}

.input-email input {
    text-align: center;
    width: 500px;
    height: 50px;
    margin-top: 15px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
}
.input-email button {
    height: 50px;
    width: 150px; /* Adjust width for better alignment */
    color: #fff;
    font-size: 18px;
    border: none;
    margin-top: 10px;
    cursor: pointer;
    font-weight: 400;
    border-radius: 6px;
    background-color: #6b6b6b;
    transition: all 0.2s ease-in-out;
}
.input-email button:hover {
    transform: scale(1.1);
    background-color: #fff;
    color:#6b6b6b;
}
