@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body {
    min-height: 100%;
}

body::-webkit-scrollbar {
    display: none;
  }

.hero-image {
    background: url("../img/djphoto.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}

.hero-image::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background: linear-gradient(to right, #65c00a7c, #65c00a, #65c00a7c);
}

.hero-text {
    text-transform: uppercase;
    position: absolute;
    text-align: center;
    margin-top: -5em;
    font-size: 20px;
    color: rgb(255, 255, 255);
}

a {
    text-decoration: none;
}
.hero-image button {
    text-transform: uppercase;
    margin-top: 25vh;
    background-color: #03b103;
    color: #444444;          
    padding: 15px 25px;       
    font-size: 18px;          
    border: none;             
    border-radius: 30px;      
    cursor: pointer;  
    box-shadow: 0px 10px 10px #498a08 inset,
    0px -10px 10px #366606 inset;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease-in-out;
}

.hero-image button:hover {
    transform: scale(1.5);
    background-color: #6ccc0b; 
    box-shadow: 0px 10px 10px #498a08 inset,
    0px -10px 10px #366606 inset;
    text-shadow: 6px 6px 10px rgba(0, 0, 0, 1);
}

.about-section {
    height: 100%;
    background: #2c2c2c;
    color: #898989;
}

.about-section::after {
    content: '';
    position: absolute;
    bottom: 0; /* Changed 1 to 0 */
    left: 0;
    width: 100%;
    height: 10px;
}

#underline {
    position: relative;
    display: inline-block;
    padding-bottom: 18px;
    margin-bottom: 16px;
}

#underline:before, #underline:after {
    content: "";
    background-color: #65c00a;
    height: 1px;
    position: absolute;
}

#underline:before {
    left: 40px;
    right: 40px;
    bottom: 0;
}

#underline:after {
    left: 0;
    right: 0;
    bottom: 4px;
}
.iteractive-icons {
    margin: 4rem 2.5rem;
    transition: .5s;;
}

.iteractive-icons:hover {
    transform: scale(1.5);
    color: #6ccc0b;
    text-shadow: 6px 6px 10px rgba(0, 0, 0, 0.584);
}

.iteractive-icons::after {
    text-align: center;
    content: attr(data-tooltip);
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 10px;
    background-color: transparent;
    color: #eaeaea;
    border-radius: 5px;
    font-size: 15px;
    font-family: "Teko", sans-serif;
    opacity: 0;
    transition: opacity 0.4s;
}

.iteractive-icons:hover::after {
    opacity: 1;
}

.about-section .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-section .about h1 {
    text-transform: uppercase;
    color: #6b6b6b;
    padding-top: 75px;
    text-align: center;
    font-size: 45px;
}


.about-section .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    gap: 12%;
}

.text-color {
    color: #65c00a;
}

.about-section .about p {
    text-align: center;
    text-align-last: center;
    font-size: 18px;
    width: 70%;
    padding-bottom: 100px;
}

/* IMAGES */
.card_container {
    color: #898989;
    background-color: #1c1c1c;
    padding: 100px 0 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 135px;
    min-height: auto;
}

.image-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    max-width: 80%;
}

.image-wrapper:nth-child(even) {
    margin-left: 0%;
}

.image-wrapper:nth-child(odd) {
    margin-right: 0%;
}

.image-wrapper:nth-child(4) {
    flex-direction: row-reverse; /* Flip text and image in the last div */
}

.image-wrapper img {
    width: 30%;
    height: auto;
    display: block;
    border-radius: 10px;
    transform: skew(-15deg);
    box-shadow: -14px 16px 29px 0px #000000b0;
    margin: 0 auto;
}

.image-wrapper .text-content {
    flex: 1;
    padding: 20px 30px;
    text-align: left;
}

.image-wrapper h1 {
    margin-bottom: 10px;
    text-align: center;
}

.image-wrapper p {
    font-size: 15px;
    text-align: center;
}

.text-content1 {
    margin-left: 15%;
}

.text-content2 {
    margin-right: 15%;
}

.text-content h1, .text-content p {
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.581);
}

/* Review slider */
.testimonial-section {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2c2c2c;
}

.testimonial {
    position: relative;
    max-width: 900px;
    width: 100%;
}

.testimonial h2 {
    text-transform: uppercase;
    text-align: center;
    font-style: oblique;
    font-weight: bolder;
    margin: 75px 0 75px 0;
}

.testimonial .image {
    height: 170px;
    width: 170px;
    object-fit: cover;
    border-radius: 50%;
}

.testimonial .slide {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 30px;
}

.slide p {
    text-align: center;
    padding: 0 100px;
    font-size: 14px;
    font-weight: 400;
    color: #898989;
}

.slide .quote-icon {
    font-size: 30px;
    color: #6ccc0b;
}

.slide .details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.details .name {
    font-size: 14px;
    font-weight: 600;
    color: #898989;
}

.details .event {
    font-size: 12px;
    font-weight: 400;
    color: #898989;
}

.contact-section {
    height: auto;
    background-color: #1c1c1c;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer {
    text-align: center;
    color: #03b103;
    background-color: #000000;
}

/* Hero section */
@media(max-width: 900px) {
    .hero-text {
        font-size: 25px;
    }

    .hero-image button {
        font-size: 18px;
    }
}

@media(max-width: 600px) {
    .hero-text {
        font-size: 20px;
    }

    .hero-image button {
        font-size: 14px;
    }
}

/* About section */
@media(max-width: 800px) {
    .about-section .icons {
        display: none;
    }

    .about-section {
        padding-top: -150px;
    }

    .about-section .about h1 {
        font-size: 35px;
    }

    #underline {
        bottom: 12px;
    }

    .about-section .about p {
        font-size: 18px;
        text-align: center;
        line-height: 1.8em;
    }
}

/* Images */
@media(max-width: 1000px) {
    .card_container {
        padding: 150px 0 150px 0;
        gap: 30px;
    }

    .image-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        max-width: 90%;
        height: fit-content;
        text-align: center;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: auto;
    }

    .image-wrapper img {
        width: 80%;
        margin-top: 30px;
        margin-bottom: 30px;
        height: auto;
        transform: skew(0deg);
    }

    .image-wrapper .text-content {
        margin: 10px 0 20px 0;
        padding: 10px 15px;
    }

    .image-wrapper h1 {
        text-align: center;
        font-size: 18px;
    }

    .image-wrapper p {
        font-size: 12px;
    }

    .image-wrapper:nth-child(even) {
        margin-left: 0%;
    }

    .image-wrapper:nth-child(odd) {
        margin-right: 0%;
    }

    .text-content1 {
        margin-left: 0;
    }

    .text-content2 {
        margin-right: 0;
    }

    #image4 {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #image2 {
        flex-direction: column-reverse;
    }
}
