<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Noreast Entertainment DJ Entertainment" />
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../../public/css/calendar.css">
    <title>NE - Calendar</title>
</head>
<body>
</head>
    <header class="header">
        <a href="#" class="logo">logo</a>
        <nav class="navbar">
            <div class="top-layer">
                <a href="../../public/index.html">Home</a>
                <a href="../views/about.html">About</a>
                <a href="../views/contact.html">Contact</a>
                <a href="../views/calendar.html">Calendar</a>
                <a href="../views/login.html">Log-in</a>
                <a href="tel:207-745-8011" class="phone-number">207-745-8011</a>
            </div>
            <div class="bottom-layer">
                <div class="dropdown">
                    <a href="javascript:void(0)" class="link">Event Entertainment</a>
                    <div class="dropdown-menu">
                        <a href="../views/weddings.html">Weddings</a>
                        <a href="../views/schools.html">Schools</a>
                        <a href="../views/corp.html">Corporate</a>
                        <a href="../views/private.html">Private</a>
                    </div>
                </div>
                <a href="#">Photo Booth</a>
                <a href="#">Event Lighting</a>
                <a href="#">Equipment Renatls</a>
            </div>
        </nav>
    </header>
   <div class="calendar-container">
        <div class="calendar">
            <iframe src="https://calendar.google.com/calendar/embed?height=1000&wkst=1&ctz=America%2FNew_York&mode=MONTH&title=Test%20Calendar&src=dGVycmFuLnN0b25lQG1haW5lLmVkdQ&src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&src=ZW4udXNhI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&src=b2p0OWRobDVyZnNlanM4MXUzcGZib3Jha2o4MnVycmxAaW1wb3J0LmNhbGVuZGFyLmdvb2dsZS5jb20&color=%23616161&color=%2333B679&color=%230B8043&color=%23F4511E" style="border:solid 1px #777" width="1200" height="1000" frameborder="0" scrolling="no"></iframe>
        </div>
    </div>
    </body>
</html>
